<br><br><br>
    <hr class="bg-info w-50 mt-5">
    <div class="container">
        <div class="row col-12">
            <div class="col-lg-4 col-xs-12 mt-5">
                <h2>My Hero Academia</h2>
                <p>Stay Connected</p>
                <div>
                    <p><a href="https://www.instagram.com/codeforinterview/"><i class="fa fa-instagram mr-2"
                                aria-hidden="true"></i></a>Follow us on Instagram</p>
                    <p><i class="fa fa-envelope mr-2" aria-hidden="true"></i>myheroacademia007@gmail.com</p>

                </div>
            </div>
            <div class="col-lg-4 col-xs-12 mt-5 mr-5">
                <h2>About My Hero Academia</h2>
                <p>Hey There.<br>Here at My Hero Academia we help you to find you your classmates.<br>We
                also proivde valuable information regarding your courses and helps new rookies to connect with their batchmates.</p>
            </div>
            <div class="col-lg-3 col-xs-12 mt-5">
                <h2>Contact Us</h2>
                <p>myheroacademia007@gmail.com</p>
                <p>Let's build together</p>
            </div>
        </div>
    </div>
