<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <br><br><br>
            <img class="responsive w-100 mt-5 mb-5" [src]="banner" alt="My Hero Academia">
        </div>
    </div>
    <br><br><br><br>
    <h4 class="display-4 mt-5 text-center">Meet Our Team Members</h4>
    <hr class="mb-5 w-30 mt-3" style="border-top: 2px solid #FF8C00; border-radius: 100%;"><br><br>
    <section class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-white text-center">Meet Our Team Members</h2>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column">
                    <div class="person-img">
                        <img [src]="abhisheak" class="img-fluid rounded-circle" alt="img 1">
                    </div>
                    <div class="person-name">
                        <h3 class="text-white text-center">Abhishek Aggarwal</h3>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Full Stack Developer</h6>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="text-white"><i class="fa fa-facebook p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-twitter p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">View Profile</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column">
                    <div class="person-img">
                        <img [src]="aditya" class="img-fluid rounded-circle" alt="img 2">
                    </div>
                    <div class="person-name">
                        <h3 class="text-white text-center">Aditya Mankotia</h3>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Front End Developer</h6>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="text-white"><i class="fa fa-facebook p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-twitter p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">View Profile</button>
                </div>
            </div><br><br>
            <div class="col-lg-3 col-md-4 col-sm-3">
                <div class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column">
                    <div class="person-img">
                        <img [src]="vineeta" class="img-fluid rounded-circle" alt="img 3">
                    </div>
                    <div class="person-name">
                        <h3 class="text-white text-center">Vineeta Gupta</h3>
                    </div>
                    <div class="info">
                        <h6 class="text-white">Back End Developer</h6>
                    </div>
                    <div class="social-icons">
                        <a href="#" class="text-white"><i class="fa fa-facebook p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-twitter p-2" aria-hidden="true"></i></a>
                        <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                    </div>
                    <button type="button" class="btn btn-secondary btn-lg btn-block">View Profile</button>
                </div>
            </div>
        </div>
        <div >
        <div class="col-lg-3 col-md-4 col-sm-3">
            <div class="shadow d-flex justify-content-center align-items-center p-3 bg-dark rounded-lg flex-column">
                <div class="person-img">
                    <img [src]="ankush" class="img-fluid rounded-circle" alt="img 1">
                </div>
                <div class="person-name">
                    <h3 class="text-white text-center">Ankush Kumar</h3>
                </div>
                <div class="info">
                    <h6 class="text-white">Web Developer</h6>
                </div>
                <div class="social-icons my-2">
                    <a href="#" class="text-white"><i class="fa fa-facebook p-2" aria-hidden="true"></i></a>
                    <a href="#" class="text-white"><i class="fa fa-twitter p-2" aria-hidden="true"></i></a>
                    <a href="#" class="text-white"><i class="fa fa-instagram p-2" aria-hidden="true"></i></a>
                </div>
                <button type="button" class="btn btn-secondary btn-lg btn-block">View Profile</button>
            </div>
        </div>
        </div>
    </section>

    <h1 class="mt-5 mb-5 text-center">Some best Youtube Channels</h1>
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="mt-5 mr-5">
                <img class="img-thumbnail" [src]="youtubefront" alt="Youtube Channel">
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 mt-5 mb-5">
            <h2><a href="https://github.com/Java-professional-practices">My Hero Academia</a></h2>
            <p class="mt-4">Below are some of the best youtube channel to grade up your technical skills.</p>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UCoPy23SgjHiXjvhIiZtSx5A">Techies Talk</a></h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UCpgnQKuPmFsZyksHc1IMceg">DBMS</a></h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UCsW5k9ACOz7vYmX1FVnRikg">Operating System</a></h5>
            <h5><i class="fa fa-arrow-right mr-2 text-primary mr-3" aria-hidden="true"></i><a href="https://www.youtube.com/channel/UC0RhatS1pyxInC00YKjjBqQ">GeeksforGeeks</a></h5>
        </div>
    </div><br><br>

    <app-footer></app-footer>
</div>



