<div class="container">
    <div class="row mt-5">
        <div class="col-lg-9 col-sm-12 col-xs-12">
            <input type="text" placeholder ="enter username" class="form-control" name="username" [(ngModel)] ="username">
        </div>
        <div class="col-lg-3 col-sm-12 col-xs-12">
            <button type="button" class="btn btn-info" (click)="findByUsername()">Search</button>
        </div>
    </div>
    <h2 class="mt-5 mb-4 display-4"><b>Result</b></h2>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <table class="table">
            <thead>
                <tr>
                    <td><b>Username</b></td>
                    <td><b>Firstname</b></td>
                    <td><b>Lastname</b></td>
                    <td><b>Age</b></td>
                    <td><b>Email</b></td>
                    <td><b>Address</b></td>
                    <td><b>Phone Number</b></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.age}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.phoneno}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
